.header{
    position: relative;
    top:40px;
    .wrapper{
        max-width:1345px;
        margin:0 auto;
        display:flex;
        justify-content: space-between;
    }
    &__logo-pic:hover{
        cursor: (url('../../materials/images/cursor.png'), pointer);
    }
}
.header__list{
    font-family: 'TT_Travel';
    font-size:11px;
    line-height: 20px;
    text-align: right;
    .header__link{
        text-decoration: none;
        color:#000;
    }
    .header__link:hover{
        cursor: (url('../../materials/images/cursor.png'), pointer);
    }
}



