.container {
    background-image: url('./materials/images/svg/main_bg.svg');
    background-repeat: no-repeat;
    background-position: 473px 7px;
    cursor: (url('materials/images/cursor.png'), pointer);
}